<!doctype html>
<title>{% block title %}{% endblock %} - FinAcc</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
  <a class="navbar-brand" href="#">FinAcc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if current_user.is_authenticated %}
        <a class="nav-item nav-link {% if active_page == "index" %} active {% endif %}" href="{{ url_for('index') }}">Home</a>
        <a class="nav-item nav-link {% if active_page == "project" %} active {% endif %}" href="{{ url_for('project') }}">Projects</a>
        <a class="nav-item nav-link " href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
        <a class="nav-item nav-link {% if active_page == "index" %}active {% endif %}" href="{{ url_for('index') }}">Home </a>
        <a class="nav-item nav-link {% if active_page == "login" %}active {% endif %}" href="{{ url_for('login') }}">Log In</a>
        <a class="nav-item nav-link {% if active_page == "register" %}active {% endif %}" href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
  </div>
</nav>
<!--
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
      <li><a href="{{ url_for('index') }}">Home</a>
    {% endif %}
  </ul>
</nav>
-->
<section class="container">
  <header class="container text-center">
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
<div class="container text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == "error" %}
          <div class="alert alert-danger">
            <em>{{ message }}</em>
          </div>
            {% endif %}
            {% if category == "success" %}
          <div class="alert alert-success">
            <em>{{ message }}</em>
          </div>
            {% endif %}
            {% if category == "warning" %}
          <div class="alert alert-warning">
            <em>{{ message }}</em>
          </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
