{% extends 'base.html' %}
{% set active_page = "project" %}

{% block header %}
  <h1>{% block title %}Name of the project{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="form-row mb-3">
        <h3 class="col-11">Income</h3>
        <button type="button" class="btn btn-info col-1" data-toggle="modal" data-target="#IncomeAddNew">Add new</button>
    </div>
        {% if transactions %}
    <div class="table-responsive">
    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Value</th>
      <th scope="col">Expected</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for transaction in transactions %}
      {% if transaction.trans_type == "income" %}
    <tr>
      <td>{{ transaction.name }}</td>
      <td width="18%">{{ transaction.freq_type }}</td>
      <td width="18%">{{ transaction.value }}</td>
      <td width="18%">-</td>
      <td width="18%">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalEdit">Edit</button>
        <a type="button" class="btn btn-outline-danger ml-3" href="{{ url_for('delete_transaction', trans_id=transaction.id) }}">Delete</a></td>
    </tr>
      {% endif %}
  {% endfor %}
  </tbody>
</table>
    </div>
    {% else %}
    <p>Nothing yet...</p>
    {% endif %}
    </div>
    <div class="container">
    <div class="form-row mb-3 mt-3">
        <h3 class="col-11">Expenses</h3>
        <button type="button" class="btn btn-info col-1" data-toggle="modal" data-target="#ExpensesAddNew">Add new</button>
    </div>
{% if transactions %}
<div class="table-responsive">
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Value</th>
      <th scope="col">Expected</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
   {% for transaction in transactions %}
       {% if transaction.trans_type == "expense" %}
    <tr>
      <td>{{ transaction.name }}</td>
      <td width="18%">{{ transaction.freq_type }}</td>
      <td width="18%">{{ transaction.value }}</td>
      <td width="18%">-</td>
      <td width="18%">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalEdit">Edit</button>
        <a type="button" class="btn btn-outline-danger ml-3" href="{{ url_for('delete_transaction', trans_id=transaction.id) }}">Delete</a></td>
      </td>
    </tr>
       {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
    {% else %}
    <p>Nothing yet...</p>
    {% endif %}
    </div>


        <div class="container">
        <div class="modal fade" id="IncomeAddNew" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Adding new income</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/add_transaction">
                    <div class="modal-body">
                            <div class="form-group">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Type</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="freq_type">
                                    <option value="regular">Regular</option>
                                    <option value="random" selected>Random</option>
                                    <option value="savings">Savings</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Value:</label>
                                <input type="number" class="form-control" id="value" name="value" required>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Comment:</label>
                                <textarea class="form-control" id="message-text" name="comment"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-info" value="Add">
                            </div>
                            <input type="hidden" value="{{ project.id }}" name="project_id">
                            <input type="hidden" value="income" name="trans_type">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="ExpensesAddNew" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Adding new expense</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/add_transaction">
                    <div class="modal-body">
                            <div class="form-group">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Type</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="freq_type">
                                    <option value="regular">Regular</option>
                                    <option value="random" selected>Random</option>
                                    <option value="savings">Savings</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Value:</label>
                                <input type="number" class="form-control" id="value" name="value" required>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Comment:</label>
                                <textarea class="form-control" id="message-text" name="comment"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-info" value="Add">
                            </div>
                        <input type="hidden" value="{{ project.id }}" name="project_id">
                        <input type="hidden" value="expense" name="trans_type">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}